@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Poppins:wght@600&display=swap');


/* index.css */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #1E1E2F; /* Dark background */
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Set consistent margins and paddings */
* {
  margin: 0;
  padding: 0;
}
